<%= render "shared/header"%>
<div class='top-header'>
  <div class='title-set'>
  <%= image_tag "title_icon.png", class:"title-icon"%>
  <h1 class='top-title'>プロ野球コミュニティーチャットサイト</h1>
  </div>
   <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, current_user, class: "user-option" %></li>
        <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "user-option" %></li> 
      <% else %>
        <li><%= link_to 'ログイン',new_user_session_path, class: "user-option" %></li>
        <li><%= link_to '新規登録',new_user_registration_path, class: "user-option" %></li>
      <% end %>
    </ul>
  </div>
</div>
  
 <div class='title-contents'>
    <h2 class='service-title'>
      プロ野球12球団のファン同士が繋がれる<br>
      チャットサイトです。
    </h2>
    <div class="team">
      <%= image_tag "giants_icon.png", class:"teams"%>  
      <%= image_tag "baystars_icon.png", class:"teams"%>
      <%= image_tag "tigers_icon.png", class:"teams"%>  
      <%= image_tag "swallows_icon.png", class:"teams"%>  
      <%= image_tag "dragons_icon.png", class:"teams"%>
      <%= image_tag "carp_icon.png", class:"teams"%> 
    </div>
    <div class="team">
      <%= image_tag "hawks_icon.png", class:"teams"%>  
      <%= image_tag "lions_icon.png", class:"teams"%>
      <%= image_tag "marines_icon.png", class:"teams"%>  
      <%= image_tag "eagles_icon.png", class:"teams"%>  
      <%= image_tag "buffaloes_icon.png", class:"teams"%>
      <%= image_tag "fiters_icon.png", class:"teams"%> 
    </div>
    <p class='service-explain'>
      各球団のルーム・個別ルームでお楽しみください
    </p>
    <p class='service-explain'>
      ※相手が不快に思う言葉を使わない様にしましょう。
    </p>
    
  </div>
<div class="center-contents">
  <h2 class="center-title">ようこそ!</h2>
</div>
    <p class="official-text">
      こちらのサイトでは12球団のファン同士を繋ぐ為に作られたサイトです。
    </p>
  <div class="kakomi">
    <span class="kakomi-title">
      説明
    </span>
      ログインしなくてもチャットを見る事が出来ます。<br>
      ログインするとチャットやルーム作成する事が出来ます。
  </div>
    <p class="official-text">
      12球団毎にルームを用意しています。
    </p>
    <p class="official-warning">
      ※相手が不快に思う言葉を使わない様にしましょう。
    </p>
<div class="center-list">
  <ul class="s-team">
    <%=image_tag "s-team.png", class: "spteam"%>
    <li class="content"><%=image_tag "giants_icon.png", class:"icon"%> <a href="/rooms/1/messages">読売ジャイアンツ</a></li>
    <li class="content"><%=image_tag "baystars_icon.png", class:"icon"%> <a href="/rooms/2/messages">横浜DeNAベイスターズ</a></li>
    <li class="content"><%=image_tag "tigers_icon.png", class:"icon"%> <a href="/rooms/3/messages">阪神タイガース</a></li>
    <li class="content"><%=image_tag "swallows_icon.png", class:"icon"%> <a href="/rooms/4/messages">ヤクルトスワローズ</a></li>
    <li class="content"><%=image_tag "dragons_icon.png", class:"icon"%> <a href="/rooms/5/messages">中日ライオンズ</a></li>
    <li class="content"><%=image_tag "carp_icon.png", class:"icon"%> <a href="/rooms/6/messages">広島カープ</a></li>
  </ul>
  <ul class="p-team">
    <%=image_tag "p-team.png", class: "spteam"%>
    <li class="content"><%=image_tag "hawks_icon.png", class:"icon"%> <a href="/rooms/7/messages">ソフトバンクホークス</a></li>
    <li class="content"><%=image_tag "lions_icon.png", class:"icon"%> <a href="/rooms/8/messages">西武ライオンズ</a></li>
    <li class="content"><%=image_tag "marines_icon.png", class:"icon"%> <a href="/rooms/9/messages">千葉ロッテマリーンズ</a></li>
    <li class="content"><%=image_tag "eagles_icon.png", class:"icon"%> <a href="/rooms/10/messages">楽天イーグルス</a></li>
    <li class="content"><%=image_tag "buffaloes_icon.png", class:"icon"%> <a href="/rooms/11/messages">オリックスバファローズ</a></li>
    <li class="content"><%=image_tag "fiters_icon.png", class:"icon"%> <a href="/rooms/12/messages">日本ハムファイターズ</a></li>
  </ul>
</div>
<div class="second-contents">
  <h2 class='service-title'>
      ここからは個人で<br>
      ルームを作成出来ます。
    </h2>
    <p class='service-explain'>
      （例）ルーム名「何故その球団を応援し始めたか語るルーム」
    </p>
    <p class='service-explain'>
      内容「どの球団ファンでもOK！」
    </p>
    <p class='service-explain'>
      ※相手が不快に思う言葉を使わない様にしましょう。
    </p>
</div>
<div class="under-contents">
  <div class="under-left">
    <h2 class="under-title">個別ルームの作成</h2>
    <div class="create-content">
    <%=form_with model: @room, local: true do |f|%>
    <%= f.label :チャットルーム名, class: 'chat-room-form__label'%><span class="indispensable">必須</span>
      <%= f.hidden_field :official, value: "No" %>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    <%= f.label :内容, class: 'chat-room-form__label'%>
      <div class='chat-room-form__field--right'>
        <%= f.text_area :content, class: 'chat__room_name chat-room-form__input', size: "30×30"%>
        </div>
    <%= f.submit class: 'chat-room-form__action-btn'%>
  <%end%>
  </div>
  </div>
  <div class="under-right">
    <h2 class="under-title">新規ルーム一覧</h2>
    <div class="show-content">
    <%@rooms.each do |room|%>
      <div class="room-content">
        <ul>
          <%if room.official == "No"%>
            <%=link_to (room_messages_path(room))do %>
            <div class="room-detail">
              <div class="room-name">
            <li><%=room.name%><br>
            <%=room.content%><li></div>
            <%end%>
            <div class="room-at">
              <%= l room.created_at%></div>
          <%end%>
        </ul>
      <div>
    <%end%>
    </div>
  </div>
</div>
<div class="details">
</div>
